<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Pick someone to send your list to:</h2>
	</div>
	<div class="panel-body">
		<ul class="list-group">
			{{#each users as |user|}}
				<li class="list-group-item">
					<div class="row">
						<div class="col-xs-6 col-sm-3">
							{{user.username}}
						</div>
						<div>
							<form action="/lists/send" method="POST">
								<input type="hidden" name="_method" value="PATCH">
								<input type="hidden" name="user" value="{{user.id}}">
								<input type="hidden" name="list" value="{{../listId}}">
								<button class="btn btn-default">Send</button>
							</form>
						</div>
					</div>
				</li>
			{{/each}}
		</ul>
	</div>
</div>