<!DOCTYPE html>
<html>
<head>
	<title>The Buddy System</title>
	<link rel="stylesheet" href="./styles/styles.css">
	<script
  	src="http://code.jquery.com/jquery-3.2.1.min.js"
  	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  	crossorigin="anonymous"></script>
</head>
<body>
	{{{body}}}
</body>
</html>